.main-container {
  display: flex;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* CHANNEL NAV */

.channel-nav-container {
  background-color: #3F0E40;
  width: 15.56em;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.channel-nav-container::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

.channel-nav-container::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5px;
}

.channel-nav-container:hover::-webkit-scrollbar-thumb {
  background-color: #888686;
}

.channel-nav-container img {
  width: max-content;
}

.fa-angle-down {
  margin-left: 7px;
  font-size: 12px;
  color: #ab9ba9;
}

.menu {
  padding-left: 17px;
  padding-bottom: 10px;
  padding-top: 12px;
}

.menu .logo-name {
  font-size: 1.125rem;
  font-weight: 900;
  color: #fff;
  margin-bottom: 6px;
}

.channel-nav-container .menu:hover {
  background-color: #2f0a2f;
  cursor: pointer;
}

.current-user {
  display: flex;
  color: #ab9ba9;
  text-align: center;
  font-weight: 400;
  font-size: .875rem;
}

.online-dot {
  background-color: #38978d;
  height: 8.5px;
  width: 8.5px;
  border-radius: 10px;
  margin-top: 3px;
  margin-right: 8px;
}

.channel-names {
  color: #c5b7c6;
  margin-top: 50px;
}

.channel-names > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 17px;
  padding-right: 12px;
  padding-bottom: 10px;
}

.plus-circle {
  color: #ab9ba9;
  transition: all ease 0.3s;
  font-size: 25px;
}

.plus-circle:hover {
  cursor: pointer;
  color: #e7d1e5;
}

.fa-plus {
  color: #ab9ba9;
  margin-right: 7px;
  font-size: 9px;
}

.add-channel-button:hover {
  background-color: #2f0a2f;
  cursor: pointer;
}

.channel-names a div {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 17px;
  color: #c5b7c6;
  opacity: 0.5;
}

.channel-names a {
  text-decoration: none;
  font-size: .865rem;
  transition: all ease 0.3s;
}

.channel-names a div:hover {
  background-color: #2f0a2f;
}

.channel-names h4 {
  font-size: 16px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.channel-names h4:hover {
  color: white;
}

.direct-messages {
  color: #c5b7c6;
  margin-bottom: 50px;
}

.direct-messages > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  padding-left: 17px;
  padding-right: 12px;
  padding-bottom: 10px;
}

.direct-messages a div {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 17px;
  color: #c5b7c6;
  opacity: 0.5;
  display: flex;
  justify-content: space-between;
}

.direct-messages a {
  text-decoration: none;
  font-size: .865rem;
  transition: all ease 0.3s;
}

.direct-messages a div:hover {
  background-color: #2f0a2f;
}

.direct-messages h4 {
  font-size: 16px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.direct-messages h4:hover {
  color: white;
}

ul .fa-lock, ul .fa-hashtag {
  font-size: 13px;
}

.highlighted {
  background-color: #1164A3;
  color: #fff !important;
  opacity: unset !important;
}

.highlighted:hover {
  background-color: #1164A3 !important;
}

.not-highlighted {
  background-color: none;
}

/* CHATROOM  */

.channel-container {
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.channel-header {
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9%;
}

.channel-header .channel-info {
  font-weight: 900;
  color: #1d1c1d;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.channel-header .header-right-info {
  display: flex;
  align-items: center;
}

.channel-header .header-right-info button {
  margin-right: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  transition: all 0.1s ease-in-out;
  font-size: 13px;
  font-weight: bold;
  border: none;
}

.channel-header .unsubscribe-button {
  background-color: #e9a820;
  color: white;
}

.channel-header .subscribe-button {
  background-color: #3eb991;
  color: white;
}

.channel-header .info-box {
  margin-right: 20px;
  border-radius: .25rem;
  height: 30px;
  width: 30px;
  background: #ddd;
  cursor: pointer;
}

.info-box .grey {
  color: #616061;
  font-size: 18px;
  padding: 6px;
}

.info-box:hover .grey {
  color: #1264a3;
}

.info-box .black {
  color: #1d1c1d;
  font-size: 18px;
  padding: 6px;
}

.channel-header .channel-info h1 {
  text-transform: lowercase;
}

.channel-header .channel-info span {
  margin-top: 9px;
  font-size: 13px;
  opacity: 0.7;
  width: max-content;
}

.channel-header .channel-info span a {
  margin-right: 6px;
  cursor: pointer;
}

.channel-header .channel-info span p {
  display: inline;
  margin-left: 6px;
}

.channel-detail-button {
  color: inherit;
  text-decoration: none;
}

.channel-detail-button:hover {
  color: #1264a3;
}

.channel-header .channel-search {
  margin-right: 20px;
  align-self: center;
}

.chatbox-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 91%;
  width: 100%;
}

.chatbox-index-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.chatbox-container .chatbox {
  overflow-y: scroll;
  margin-top: auto;
}

.chatbox-container .chatbox::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

.chatbox-container .chatbox::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5px;
  padding: 0px 51px;
}

.chatbox-container:hover .chatbox::-webkit-scrollbar-thumb {
  background-color: #888686;
}

.chatbox-container .chatbox::-webkit-scrollbar-track {
  margin: 8px 0px;
}

.chatbox-form form {
  padding: 10px;
  padding-bottom: 5px;
}

.chatbox-form input {
  padding: 10.8px;
  margin-bottom: 1.35%;
  border: 2px solid #616061;
  border-radius: 5px;
  height: auto;
  font-size: 15px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

.chatbox-form input::placeholder {
  color: #949499;
}

.chatbox ul li {
  margin-top: 20px;
  padding-left: 30px;
}

.chatbox ul li:last-child {
  margin-bottom: 5px;
}

.chatbox ul li:hover {
  background-color: #f8f8f8;
}

.message-container {
  display: flex;
}

.message-container img {
  margin-right: 8px;
}

.top-of-message {
  display: flex;
  margin-bottom: 5px;
}

.top-of-message .created-at {
  color: #616061;
  font-size: 12px;
  align-self: flex-end;
  text-transform: uppercase;
}

.message-container .username {
  font-weight: 900;
  font-family: 'Roboto Slab', serif;
  margin-right: 8px;
}

/* CHANNEL DETAIL SECTION */

.channel-sidebar-info-container {
  height: 100%;
  width: 25%;
  background-color: #fff;
  border-left: 1px solid lightgray;
  overflow-y: auto;
}

.channel-sidebar-info .title-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33.5px 15px;
  font-weight: 900;
  background-color: #f9f9f9;
}

.channel-sidebar-info .title-section .sidebar-close::before {
  content: "\2613";
  font-size: 20px;
}

.channel-sidebar-info .title-section .sidebar-close:hover {
  color: #1264a3;
}

.channel-sidebar-info .title-section div:last-of-type {
  cursor: pointer;
}

.channel-sidebar-info .details-section {
  border-top: 1px solid lightgray;
}

.channel-sidebar-info .details-section .details-info {
  transition: 1s ease-in-out;
  margin-top: -20px;
  margin-left: 15px;
  margin-bottom: 30px;
  margin-right: 15px;
}

.details-section #channel-detail {
  font-size: 18px;
}

.edit-channel {
  cursor: pointer;
}

.details-info .description .edit-channel {
  color: #1264a3 !important;
}

.details-info .description {
  margin-bottom: 30px;
}

.details-info .description p:first-child {
  font-size: 12.8px;
  color: #616061;
  font-weight: bolder;
}

.details-info .description p:last-child {
  font-size: 15px;
  color: #1d1c1d;
}

.details-info .created-at p:first-child {
  font-size: 12.8px;
  color: #616061;
  font-weight: bolder;
}

.details-info .created-at p:last-child {
  font-size: 15px;
  color: #1d1c1d;
}

.channel-sidebar-info .details-section p {
  margin-top: 10px;
  font-size: 14px;
}

.details-section .toggler {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15px;
  cursor: pointer;
}

.details-section .fa-info-circle {
  margin-right: 5px;
  color: #616061;
  font-size: 18px;
}

.details-section .delete-button {
  padding: .5rem 1rem;
  margin-top: 10px;
  cursor: pointer;
  background-color: #e01563;
  color: white;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.28571429;
  letter-spacing: 1px;
  border: none;
  transition: all ease .5s;
  width: 100%;
}

.channel-sidebar-info .members-section {
  border-top: 1px solid lightgray;
}

.channel-sidebar-info .members-section ul {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -10px;
}

.channel-sidebar-info .members-section ul li {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  padding-left: 10px;
  border: 1px solid transparent;
  font-size: 15px;
  cursor: pointer;
}

.channel-sidebar-info .members-section ul li:hover {
  background-color: #e8f5fa;
  border: 1px solid #c7e6f4;
  border-radius: 1px;
}

.channel-sidebar-info .members-section ul li img {
  margin-right: 5px;
}

.members-section .fa-user {
  margin-right: 5px;
  color: #007a5a;
}

.members-section .toggler {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15px;
  cursor: pointer;
}

.members-section #members-detail {
  font-size: 18px;
}

.fa-times-circle {
  color: transparent;
  margin-right: 15px;
}

.fa-times-circle:hover {
  color: white;
  position: relative;
  z-index: 10;
}

#cursor {
  cursor: pointer;
}