.main-container {
  display: flex;
  box-sizing: border-box;
}

/* CHANNEL NAV */

.channel-nav-container {
  background-color: #3F0E40;
  width: 11%;
  height: 100vh;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 15px;
}

.channel-nav-container .logout {
  margin-bottom: 10px;
  color: white;
  padding: 10px;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
}

.current-user {
  display: flex;
  color: #ab9ba9;
  text-align: center;
  font-weight: 400;
  font-size: .875rem;
  margin-bottom: 80px;
}

.current-user .online-dot {
  background-color: #38978d;
  height: 8px;
  width: 8px;
  border-radius: 10px;
  margin-top: 4px;
  margin-right: 8px;
}

.channel-names {
  color: #c5b7c6;
  overflow: hidden;
}

.channel-names a div {
  padding-top: 10px;
  text-decoration: none;
  color: #c5b7c6;
}

.channel-names a div:hover {
  color: #9f92a0;
}

.channel-names h4 {
  font-size: 20px;
  margin-bottom: 8px;
}

/* CHATROOM  */

.channel-container {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
}

.channel-header {
  height: 6vh;
  border-bottom: 1px solid lightgrey;
}

.channel-header h1 {
  font-weight: 900;
  color: #1d1c1d;
  padding: 15px;
  padding-top: 20px; 
}

.chatbox-container {
  height: 94vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.chatbox-container .chatbox {
  margin: 35px;
}

.chatbox-form input {
  padding: 15px;
  margin-left: 1.5%;
  margin-bottom: 1%;
  width: 97%;
  box-sizing: border-box;
  border: 2px solid #616061;
  border-radius: 2px;
  height: auto;
  font-size: 15px;
}

.chatbox ul li {
  padding-top: 20px;
}

.message-container {
  display: flex;
}

.message-container img {
  margin-right: 8px;
}

.top-of-message {
  display: flex;
  margin-bottom: 5px;
}

.top-of-message .created-at {
  color: #c5b7c6;
  font-size: 12px;
  align-self: flex-end;
}

.message-container .username {
  font-weight: 900;
  font-family: 'Roboto Slab', serif;
  margin-right: 10px;
}