header {
  width: 100%;
  background-color: white;
  height: 72px;
}

header > div {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  background-color: white;
}

nav {
  display: flex;
  align-self: center;
}

.nav-login {
  text-decoration: none;
  font-family: CircularPro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
  letter-spacing: .8px;
  color: black;
  transition: all ease .5s;
  margin-right: 30px;
  align-self: center;
}

.nav-login:hover {
  color: #611f69;
}

.nav-signup {
  padding: .75rem 1rem;
  background-color: #611f69;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  font-family: CircularPro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
  font-weight: 425;
  font-size: 13px;
  line-height: 1.28571429;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all ease .5s;
}

.nav-signup:hover {
  background-color: #48174d
}

.logo {
  text-decoration: none;
  font-size: 30px;
  font-weight: bolder;
  transition: all ease 1s;
  align-self: center;
  line-height: 1.28571429;
  letter-spacing: 1px;
}

.logo:hover {
  color:green;
  font-size: 35px;
}

.session-form-container {
  text-align: center;
  background-color: #f9f9f9;
  padding-top: 50px;
  padding-bottom: 25%;
}

.session-form {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 50%;
  height: 50%;
  margin: 0 auto;
  align-self: center;
  border: solid 1px lightgray;
  border-radius: 5px;
}

.errors {
  list-style: none;
}